@media ( max-width: 600px ) and (orientation: portrait){
    .site {
        display: none;
    }

    .header {
        justify-content: center;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .site {
        display: none;
    }

    .logo {
        max-width: 10rem;
        max-height: 10rem;
    }

    .header {
        flex-direction: column;
        justify-content: center;
    }

    #register section {
        flex-direction: row;
    }

    #register form {
        padding: 2em;
    }
}