@media ( max-height: 640px ) and ( orientation: portrait ) {
    #register header {
        display: none;
    }

    #login header {
        flex-direction: row;
    }

    #sidebar section {
        padding: 1em;
    }
}

@media ( max-height: 1200px ) and ( orientation: portrait ){
    .fw,
    main {
        padding-bottom: 6em;
    }
    #sidebar section {
        padding: 1em;
    }
}

@media ( max-width: 1000px) and ( orientation: portrait) {

    .listHeader,
    .site {
        display: none;
    }

    #register header {
        flex-direction: column;
    }

    #register header img {
        width: var(--super-header);
        height: var(--super-header);
    }

    #login form {
        flex: 1 1 0;
        justify-content: center;
    }

    #sidebar {
        position: fixed;
        bottom: 0;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }

    #care #diagnose #info label,
    #sidebar div,
    #sidebar header{
        display: none;
    }

    #sidebar .sm-icon {
        width: var(--header);
        height: var(--header);
    }

    #sidebar section span {
        width: 3rem;
        height: 3rem;
    }

    #sidebar section{
        height: fit-content;
        margin: 0;
        justify-content: center;
    }

    #sidebar ul {
        flex-direction: row;
        width: 100%;
        height: fit-content;
        justify-content: center;
        margin: 0;
    }

    #sidebar li {
        flex: 1 1 0;
    }

    #sidebar li a {
        flex-direction: column;
        margin: 0;
    }

    #sidebar li:has(a) span {
        font-size: var(--super-small);
    } 

    #sidebar .additional{
        top: unset;
        left: unset;
        bottom: 100%;
        right: 10%;
        border-radius: var(--radius) 0 0 var(--radius);
    }

    #patients #collection li {
        grid-template-columns: 1fr;
        align-items: center;
    }

    #patients #collection div {
        flex-direction: row;
    }

    #patients #collection tr {
        flex-direction: column;
    }

    #patients #collection tr {
        flex-direction: column;
    }
}

@media ( max-width: 600px ) and ( orientation: portrait ){
    .redirect {
        position: absolute;
    }

    #ham-menu span:nth-child(2) {
        top: 52%;
    }

    #inventory #listHeader,
    .site {
        display: none;
    }

    #register header {
        flex-direction: column;
    }

    #register header img {
        width: var(--super-header);
        height: var(--super-header);
    }

    .password button {
        margin-left: -3.5em;
    }

    #register form, #login form{
        padding: 1em;
    }

    #register section, #login section{
        justify-content: center;
    }

    #sidebar section {
        padding: 1em;
    }

    #inventory #addItemBtn,
    #patients #registerPatientBtn {
        flex-direction: column;
        font-size: var(--small);
    }

    .actions div {
        flex: 1 1 0;
        flex-direction: column;
    }

    #care > div {
        flex-direction: column;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .redirect {
        position: absolute;
    }

    .site {
        display: none;
    }

    #register .logo {
        width: 10rem;
        height: 10rem;
    }

    header {
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin: 0;
    }

    header img{
        min-width: 10rem;
        min-height: 10rem;
    }

    #register section, #login section{
        flex-direction: row;
        justify-content: center;
    }

    #register form, #login section{
        padding: 2em;
    }

    #sidebar {
        position: fixed;
        top: unset;
        bottom: 0;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }

    #sidebar div,
    #sidebar header{
        display: none;
    }

    #sidebar .sm-icon {
        width: var(--header);
        height: var(--header);
    }

    #sidebar section span {
        width: 3rem;
        height: 3rem;
    }

    #sidebar section{
        height: fit-content;
        margin: 0;
        justify-content: center;
    }

    #sidebar ul {
        flex-direction: row;
        width: 100%;
        height: fit-content;
        justify-content: center;
        margin: 0;
    }

    #sidebar li {
        flex: 1 1 0;
    }

    #sidebar li a {
        flex-direction: column;
        margin: 0;
    }

    #sidebar li:has(a) span {
        font-size: var(--super-small);
    } 

    #sidebar .popup{
        top: unset;
        left: unset;
        bottom: 100%;
        right: 1%;
        border-radius: var(--radius) 0 0 var(--radius);
    }

    #patients #collection li {
        grid-template-columns: 1fr;
        align-items: center;
    }

    #patients #collection div {
        flex-direction: row;
    }

    #patients #collection tr {
        flex-direction: column;
    }

    #patients #collection tr {
        flex-direction: column;
    }
}