:root {
    --bigger-header: clamp(2.2rem, 3vw + 1.6rem, 3.8rem);
    --headers: clamp(1.8rem, 2.2vw + 1.3rem, 2.8rem);
    --smaller-header: clamp(1.4rem, 1.4vw + 1.1rem, 2rem);
    --bigger: clamp(1.1rem, 0.5vw + 1rem, 1.25rem);
    --normal: clamp(1rem, 0.3vw + 0.95rem, 1.125rem);
    --small: clamp(0.85rem, 0.2vw + 0.8rem, 0.95rem);
    --super-small: clamp(0.7rem, 0.2vw + 0.65rem, 0.8rem);
    --bold: 700;
    --semi-bold: 600;
    --thin: 300;
    --bg: rgb(255, 255, 255);
    --navbg: rgb(241, 241, 241);
    --font-color: rgb(50, 50, 50);
    --radius: 0.5rem;
    --double-radius: 1rem;
    --alt-font-color: rgb(255, 255, 255);
    --sub-font-color: rgb(116, 116, 116);
    --sub-bg: rgb(241, 241, 241);
    --transparent-bg: rgba(0, 0, 0, 0.5);
    --hover-color: rgb(230, 230, 230);
    --shadow: 0px 1px 5px rgba(0, 0, 0, .5);
    --button-color: rgb(255, 255, 255);
    --button-hover: rgba(90, 164, 255, 0.7);
    --active-button: rgb(139, 138, 138);
    --border-color: rgb(170, 170, 170);
    --border: solid 1px var(--border-color);
    --critical: rgb(212, 66, 66);
    --moderate: rgb(219, 169, 75);
    --good: rgb(61, 161, 61);
}

html {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
}

body {
    background: var(--navbg);
    color: var(--font-color);
    font-size: var(--normal);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

input[type="text"], input[type="password"]{
    padding: 0.5em;
}
