:root {
    --bgurl: url(/assets/images/site.jpg);
    --bigger-header: clamp(2.2rem, 3vw + 1.6rem, 3.8rem);
    --headers: clamp(1.8rem, 2.2vw + 1.3rem, 2.8rem);
    --smaller-header: clamp(1.4rem, 1.4vw + 1.1rem, 2rem);
    --bigger: clamp(1.2rem, 0.5vw + 1rem, 1.3rem);
    --normal: clamp(1rem, 0.3vw + 0.95rem, 1.125rem);
    --small: clamp(0.85rem, 0.2vw + 0.8rem, 0.95rem);
    --super-small: clamp(0.7rem, 0.2vw + 0.65rem, 0.8rem);
    --bold: 800;
    --semi-bold: 600;
    --thin: 300;
    --bg: rgb(255, 255, 255);
    --navbg: rgb(241, 241, 241);
    --font-color: rgb(19, 19, 19);
    --radius: 0.5rem;
    --double-radius: 1rem;
    --alt-font-color: rgb(255, 255, 255);
    --sub-font-color: rgb(116, 116, 116);
    --sub-bg: rgb(241, 241, 241);
    --transparent-bg: rgba(0, 0, 0, 0.5);
    --hover-color: rgb(65, 228, 160);
    --shadow: 0px 1px 5px rgba(0, 0, 0, .5);
    --button-color: rgb(26, 92, 83);
    --button-hover:  rgb(40, 143, 129);
    --active-button: rgb(139, 138, 138);
    --border-color: rgb(170, 170, 170);
    --border: solid 1px var(--border-color);
    --critical: rgb(212, 66, 66);
    --moderate: rgb(219, 169, 75);
    --good: rgb(61, 161, 61);
}

.p-sm {
    padding: 0.5em;
}

.p-md {
    padding: 1em;
}

.p-lg {
    padding: 2em;
}

.ctr-text {
    text-align: center;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
}

body {
    color: var(--font-color);
    font-size: var(--normal);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}

.hidden {
    display: none;
}

.redirect {
    position: fixed;
    color: var(--alt-font-color);
    font-size: var(--bigger);
    font-weight: var(--bold);
    margin: 2em;
    background: var(--button-color);
    border-radius: 1.5em 0 1.5em 0;
    z-index: 3;
}

.redirect:hover {
    background: var(--button-hover);
    transform: scale(1.1);
    transition: transform 300ms ease;
    box-shadow: var(--shadow);
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

input {
    color: transparent;
    background: transparent;
    font: var(--normal);
    padding: 1em;
    border: var(--border);
    border-radius: var(--radius);
}

input:focus, input:valid {
    outline: none;
    color: var(--font-color)
}

input[type="text"], input[type="password"], input[type="date"]{
    width: 100%;
    z-index: 2;
}

input[type="password"] {
    padding-right: 4em;
}

input[type="submit"] {
    background: var(--button-color);
    font-size: var(--bigger);
    font-weight: var(--bold);
    border: none;
    border-radius: 20rem;
    padding: 1em;
}

.logo{
    max-width: 5rem;
    max-height: 5rem;
}

.icon {
    width: var(--headers);
    height: var(--headers);
}

.password {
    display: flex;
    align-items: center;
}

.password button {
    margin-left: -5em;
    border: none;
    background: transparent;
    display: none;
}

.password:focus-within button,
.password:has(input:valid) button {
    display: block;
    z-index: 2;
}

#responseContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

#responseContainer div {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 3em;
    top: 0;
    margin: 1em;
    background: var(--critical);
    padding: 1em;
    border-radius: var(--radius);
    color: var(--alt-font-color);
    font-weight: var(--bold);
}

#responseContainer span {
    position: relative;
}

#responseContainer span::before, #responseContainer span::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    background: var(--alt-font-color);
    min-width: var(--normal);
    min-height: 3px;
}

#responseContainer span::before {
    rotate: 45deg;
}

#responseContainer span::after {
    rotate: -45deg;
}

.header {
    font-size: var(--bigger);
    display: flex;
    align-items: center;
    padding: 2em;
    gap: 1em;
}

#register {
    background: var(--bgurl) center / cover no-repeat;
    display: flex;
    min-width: 100%;
    min-height: 100vh;
}

#register input[type="submit"] {
    color: var(--alt-font-color);
    min-width: 100%;
}

#register input[type="submit"]:hover {
    background: var(--button-hover);
    transform: scale(1.05);
    transition: tranform 300sm ease;
    box-shadow: var(--shadow);
}

.site {
    background: var(--bgurl) center / cover no-repeat;
    flex: 1 1 0;
    border: 1.5em solid var(--bg);
    border-radius: 4em 0 0 4em;
}

#register section{
    background: var(--bg);
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

#register form {
    background: var(--bg);
    padding:0 5em;
    display: flex;
    flex-direction: column;
}

#register h1 {
    font-size: var(--bigger-header);
}

#register span {
    display: flex;
    flex-direction: column;
}

#register .part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

#register span label {
    background:var(--bg);
    font-size: var(--normal);
    font-weight: var(--bold);
    transform: translate(1rem, -1.2rem);
    max-width: fit-content;
    margin-top: -1.25em;
    opacity: 75%;
    z-index: 1;
}

#register span:focus-within label,
#register span:has(input:valid) label {
    transform: translate(0, -3rem) scale(0.8);
    transition: transform 300ms ease-in;
    padding: 0 0.5em;
    opacity: 100%;
    z-index: 2;
}

#register select{
    background: transparent;
    font: var(--normal);
    border: var(--border);
    border-radius: var(--radius);
    padding: 1em;
}